@import "skeleton/normalize";
@import "skeleton/skeleton";

// Global
$white: #fff;

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
  font-family: Optima;
  font-weight: 600;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $primary;
  background-color: $white;
}

.button {
  border-radius: 0;
}

header {
  height: 120px;
  padding: 10px;
  text-align: center;
  img {
    max-width: 100px;
    transition: all 200ms;
    &:hover {
      filter: invert(100%);
    }
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

video {
  // position: absolute;
  // top: 0;
  &.float {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

#webgazerVideoCanvas {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.4;
  z-index: -10;
  transform: scaleX(-1);
  filter: FlipH;
}

canvas {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

#headtrackerMessageDiv {
  right: 25% !important;
  bottom: 20px !important;
  top: auto !important;
  font-size: 20px !important;
  left: 25% !important;
  width: 50%;

  div {
    padding: 2%;
    color: #000 !important;
    opacity: 1 !important;
    background-color: transparent !important;

    p {
      margin: 0;
    }
  }
}

.pre-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Home
.introduction {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  .item {
    position: relative;
    width: 50%;
    height: 300px;
    float: left;

    padding: 0% 1% 1%;

    .text {
      text-align: justify;
      width: 70%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .button {
        transition: all 300ms;
      }
    }

    &:nth-child(odd) {
      padding-right: 0.5%;
    }
    &:nth-child(even) {
      padding-left: 0.5%;
    }
    .inner {
      border: 3px solid $secondary;
      transition: all 200ms;
      height: 100%;
      width: 100%;

      &:hover {
        background-color: $secondary;
        color: $white;

        .button {
          background-color: $secondary;
          color: $white;
        }
        .button.button-primary {
          background-color: $white;
          color: $secondary;
        }
      }
    }
  }
}

.deck {
  width: 350px;
  height: 500px;
  margin: 0 auto;

  position: relative;

  //border: 2px solid grey;
}

.swipe .card.active {
  transition-delay: 0ms;
  transition-duration: 50ms;
}
.card {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 500ms;
  transition-delay: 300ms;
  background-color: $white;

  border-radius: 10px;

  &.active {
    top: 3%;
    left: 3%;
    width: 93%;
    height: 93%;
    box-shadow: 0px 5px 10px rgba(10,10,10,0.1),
                0px 10px 20px rgba(10,10,10,0.1),
                0px 20px 30px rgba(10,10,10,0.1),;

    h3 {
      color: #222;
    }
  }

  h3 {
    transition: all 700ms;
    transition-delay: 500ms;
    color: #ccc;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.exit-right {
  animation: exit-right 1s;
  animation-fill-mode: forwards;

}
.exit-left {
  animation: exit-left 1s;
  animation-fill-mode: forwards;

}

@keyframes exit-right {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(300%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes exit-left {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-300%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
}
