<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Decisions</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="@@class">
  <header>
      <a class="logo" href="/"><img src="/img/logo4.png" alt="Binary"></a>
      <a class="wide-logo" href="/"><img src="/img/logo-wide.png" alt="Binary"></a>
  </header>
  <div class="tidy-container" style="display:none;">
    <button id="tidy-deck">Tidy Deck</button>
  </div>
